body {
    background-image: url(img/b0e63b94-e461-4f65-9183-e8941cb2fa6c.png);
}

.container {
    margin-top: 120px;
    box-shadow: 0 0 20px rgba(3, 0, 0, 0.7);
    background-image: url(img/b0e63b94-e461-4f65-9183-e8941cb2fa6c.png);
    padding-bottom: 50px;
}

.col {
    margin-top: 80px;
}

.moviescontainer {
    text-align: center;
}

.moviecard {
    display: inline-block;
    height: 480px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 10px;
    position: relative;
    /* box-shadow: 0 0 20px rgba(3, 0, 0, 0.9); */
}

.movieimg {
    background-size: cover;
    background-position: center;
    height: 380px; 
    width: 280px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.movieimg img{
    background-size: cover;
    background-position: center;
    height: 380px; 
    width: 280px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* box-shadow: 0 0 20px rgba(3, 0, 0, 0.7); */
}

.movietitle {
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(3, 19, 26, 0.5);
    border-radius: 0 0 10px 10px;
    /* box-shadow: 0 0 20px rgba(3, 0, 0, 0.9); */
}

.movietitle p {
    text-align: center;
    margin: 0; 
    font-size: 30px;
    font-weight: 500;
    color: snow;
}


.buy-tickets-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    width: 90%;
    height: 90%;
    transition: opacity 0.8s; 
}

.moviecard:hover .buy-tickets-btn {
    opacity: 1; /* Set opacity to 1 on hover */
    background-color: rgba(3, 19, 26, 0.7);
    transition: 0.8s;
}

.crdbtn2 {
    background-color: #D4FF9D;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03131A;
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: 1s;
    margin: 0;
    margin-top: 150px;
    margin-left: 65px;
    border-radius: 10px;
    text-decoration: none;
}

.buy-tickets-btn p {
    color: snow;
    align-items: center;
    justify-content: center;
}

.crdbtn2:hover {
    transform: scale(1.03);
    transition: 0.8s;
}

.nst{
    color: snow;
    padding-bottom: 30px;
    padding-top: 30px;
}

